@import './global.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    caret-color: rgba(0, 0, 0, 0); // disable cursor blink
}

.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 60px);
        position: relative;
        top: 60px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        > * {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: calc(100vh - 60px);
            scroll-snap-align: start;
        }
    }
}
